/* CSS reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a {
    text-decoration: none;
    color: white;
}
a img {
    border: none;
}
  button,
a {
    cursor: pointer;
    color: inherit;
}
textarea {
    resize: none;
}
button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* Global Styles */

html {
    font-size: 62.5%; /* 1 rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem; 
}

li, button, label, input, p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

h4, h5 {
    font-size: 2.8rem;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    font-size: 1.8rem;
    cursor: pointer;
    /* transition: background 0.3s ease-in-out; /* 1. What to change? 2. Time 3. Style 4. Delay */
    /* animation: cloudAnimation 2s infinite /* forwards */ /* alternate 2s;*/ /* 1. Animation name 2. Time 3. Infinite 4. Alternate 5. Delay */
} 

button:hover {
    background: #213042;
}

/* Nav & Hero Section */

.main-head {
    background-color: #131c27;
    color: white;
}

nav {
    min-height: 10vh; /* This is the minimum height, but it can grow */
    display: flex;
    width: 90%;
    margin: auto; /* The margin automatically takes up the empty space */
    padding: 2rem;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem; /* both the ul and the logo took up the same space */
    list-style: none;
    justify-content: space-around; /* X axis */
    align-items: center; /* Y axis */
}

#logo {
    display: flex;
    flex: 2 1 40rem; /* flex-grow | flex-shrink | flex-basis */ 
    /* flex-grow: 4 => takes up 4* space of the ul, causing the ul to shrink horizontally */
    justify-content: flex-start;
    align-items: center;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), /* adding linear-gradient to bg img [linear-gradient(fromcolor(), transparent or other color)] */
        url('./img/landing-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column; /* changes x-y directions: justify content: vertical, align-items: horizontal */
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

/* Locations Section */

#locations {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/new-york-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem; /* 1rem = top & bottom, 0rem = left & right */
    text-decoration: underline;
}

.locations-head h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text; 
    -webkit-background-clip: text; /* Gradient on text trick */
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    pointer-events: none;
}

.moving-cloud-1 {
    animation: cloudAnimation 4s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 20%;
    z-index: -1; /* Pushing it back */
    opacity: 0.5;
    animation: cloudAnimation 8s infinite alternate ease-in-out
}

@keyframes cloudAnimation {
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

/* Media Query */

@media screen and (max-width: 932px) { /* max-width: this is the breakpoint of flex-wrapping in the nav this time */
    html {
        font-size: 45%;
    }

    #logo {
        padding: 2rem;
    }
    .cloud {
        height: 30rem;
    }
    .moving-cloud-1 {
        z-index: -1;
    }
    .moving-cloud-2 {
        z-index: -2;
        top: 10%;
    }
    
    
}

@media screen and (max-width: 670px) {
    #logo {
        justify-content: center;
    }
    .locations-head h3 {
        background: rgba(19, 28, 39, 0.9);
        -webkit-text-fill-color: white;
    }
}